h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    color: #445859;
}

p, li {
    font-family: 'Gentium Book Basic', serif;
}

#home, #education, #skills p {
    color: #445859;
}

#work p, #interests p {
    color: #fff;
}

#work h1, #interests h1 {
    color: #fff;
}

#work h3, #interests h3 {
    color: #fff;
}

.navbar-wrapper {
    position: relative;
    z-index: 15;
    width: 100%;
}

nav {
    width:100%; 
    height:90px;
    background-color: #fff;
}
nav ul {
    text-decoration: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 30px;
}

nav a:link {
    text-decoration: none;
    color: #a0a0a0;
}

nav a:active {
    color: #8F9E8B;
}

nav a:visited {
    color: #a0a0a0;
}

#home {
    background-color: #F1F2E4;
    padding: 100px 0px 100px 0px;
    text-align: center;
}

#home h1, h2, p {
    text-align: center;
}

#education {
    background-color: #49C4BE;
    text-align: center;
    padding-top: 115px;
    height: 100vh;
}

#ufl, #vt {
    padding: 30px;
    width: 40%;
    display: inline-block;
}

#work {
    background-color: #03A696;
    text-align: center;
    padding-top: 115px;
    height: 100vh;
}

#work_entry {
    padding: 20px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

#skills {
    background-color: #FF7746;
    height: 100vh;
    text-align: center;
    padding-top: 115px;
}

#graph {
    margin: 0 auto;
    font-family: 'Gentium Book Basic', serif;
    padding-top: 40px;
    width: 50%;
}

#interests {
    background-color: #445859;
    height: 100vh;
    text-align: center;
    padding-top: 115px;
}

#interest-list {
    padding-top: 30px;
}

footer p {
    color: #fff;
    margin: 0;
}

footer a:link {
    text-decoration: none;
    color: #fff;
}

footer a:active {
    color: #fff;
}

footer a:visited {
    color: #fff;
}


.call, .email, .connect, .tweet {
    width: 22.6%;
    float: left;
    padding: 15px;
}

.call {
    background-color: #49C4BE;
}

.email {
    background-color: #03A696;
}

.connect {
    background-color: #FF7746;
}

.tweet {
    background-color: #445859;
}
