h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Gentium Book Basic', serif;
}

#home {
    background-color: #F1F2E4;
    padding: 20px 0px 20px 0px;
}

#home h1, h2, p {
    text-align: center;
}

#education {
    background-color: #49C4BE;
    text-align: center;
    padding-top: 20px;
}

#ufl, #vt {
    padding: 30px;
    width: 40%;
    display: inline-block;
}

#work {
    background-color: #03A696;
    text-align: center;
    padding-top: 20px;
}

#work_entry {
    padding: 20px;
    width: 25%;
    display: inline-block;
}